global
    maxconn 10000
    ulimit-n 25000
    stats timeout 30s
    stats socket /run/haproxy.sock mode 600 expose-fd listeners level user
    tune.ssl.default-dh-param 2048
    ssl-default-bind-options no-sslv3 no-tlsv10
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS

defaults
    log global
    mode tcp
    option tcplog
    option clitcpka
    option dontlognull
    timeout client 60s
    timeout server 600s
    timeout connect 5s
    timeout queue 30s
    default-server init-addr last,libc,none

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 7

listen stats
    bind *:1111
    mode http
    stats enable
    stats show-desc swarm-router status
    stats uri /

frontend swarm-router{{ range $port := split $.Env.HTTP_LISTENERS " " }}
    bind *:{{ $port }}{{ end }}{{ range $port := split $.Env.TLS_LISTENERS " " }}
    bind *:{{ $port }} ssl crt /certs/{{ end }}
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend %[req.hdr(host),lower]
    use_backend %[req.ssl_sni,lower]
    use_backend %[ssl_fc_sni,lower]
    default_backend swarm-router

backend swarm-router
    mode http
    server swarm-router 127.0.0.1:{{ $.Env.SWARM_ROUTER_PORT }} check

{{ range $endpoint, $encryption := $.Endpoints }}backend {{ $endpoint }}
    {{ if $encryption }}mode tcp{{ else }}mode http{{ end }}
    server {{ $endpoint }} {{ getHostnameOnly $endpoint }}:{{ getBackendPort $endpoint $encryption }} check resolvers docker
{{ end }}